.dashboard {
  h1 {
    font-size: 1.8em;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .addMatch {
    color: white;
    text-decoration: none;
    background-color: rgb(217, 16, 84);
    padding: 1em 2em;
    border-radius: 20px;
  }
}
